<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Edit Page</h1>
    <h2><%=gundam.name%></h2>
    <form action="/gundam/<%=gundam.id%>?_method=PUT" method="POST">
        Name: <br><input type="text" name="name" value="<%=gundam.name%>"><br>
        Price: <br>$<input type="number" name="price" value="<%=gundam.price%>"><br>
        Image Links: <br><input type="text" name="images" value="<%=gundam.images%>"><br>
        Shipping Cost: <br>$<input type="number" name="shipping" value="<%=gundam.shipping%>"><br>
        Estimated Arrival: <br><input type="text" name="estimatedArrival" value="<%=gundam.estimatedArrival%>">
        <input type="submit" value="Submit Changes" class="create">
    </form>

</body>
</html>