<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>

    <%- include ('./partials/nav.ejs') %>

    <button onclick="window.location.href='/gundam/new'" class="create">Create New Posting</button>
    <h1 style="text-align: left; color: gray;">BEST SELLERS</h1>
    <div>
        <table class="index">
            <% for(let i = 0; i < gundam.length; i++) { %>
                <tr>
                    <td><a href="/gundam/<%=gundam[i].id%>"><img src="<%=gundam[i].images[0]%>" alt=""></a>
                    <a href="/gundam/<%=gundam[i].id%>" class="name"><%=gundam[i].name%></a>
                    <a class="name"><strong>$<%=gundam[i].price%></strong></a>
                </td>
                </tr>
            <% } %>
            </table>
    </div>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
    
</body>

</html>