<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
   
        <h1><%=gundam.name%></h1>
       
                <% for (let i = 0; i < gundam.images.length; i++) { %>
                    <img src="<%=gundam.images[i]%>" alt="">
                <% } %>
         
    
    <h3>Price: $<%=gundam.price%></h3>
    <h4>Shipping cost is $<%=gundam.shipping%></h4>
    <h4>Estimated shipping is at <%=gundam.estimatedArrival%></h4>

    <form action="/gundam/<%=gundam.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" class="create">
    </form>

    <form action="/gundam/<%=gundam.id%>/edit">
        <input type="submit" value="EDIT" class="create">
    </form>



</body>
</html>